.container{
    border:solid 0.5px #696969	;
    background-color: #696969;
    width:250px;
    height:350px;
    margin:0 auto;
    border-radius:25px;
    box-shadow:5px 4px 2px #696969;
  }
  
  .monitor{
    border:solid 1px #AAAAAA;
    background-color:#AAAAAA;
    width:220px;
    height:255px;
    margin:0 auto;
    margin-top:7px;
    border-radius:25px;
    background-color:#f5f5f5;
  }
  
  .homebutton{
    border:solid 1px #666666;
    margin: 0 auto;
    width:40px;
    height:40px;
    border-radius:100px;
    margin-top:8px; 
    background-color:#808080;
    box-shadow:0px 0px 0px  #dcdcdc inset;
  }
  
  .incamera{
  　border:solid 1px #111111;
    height:15px;
    width:15px;
    margin: 0 auto;
    margin-top:10px;
    position:relative;
    right:50px;
    background-color:#333333;
    border-radius:100px;
  }
  
  .incamera2{
  　border:solid 1px #444444;
    background-color:#cccccc;
    height:5px;
    width:5px;
    margin: 0 auto;
    margin-top:1px;
    position:relative;
    top:4px; 
    border-radius:100px;
  }
  
  .mic{
    border:solid 1px #666666;
    height:10px;
    width:55px;
    position:relative;
    left:25px;
    bottom:2px;
    border-radius:50px;
    background-color:#777777;
  }
  
  .monitor {
      text-align: center;
  }

  img {
      width: 50%;
      padding-top: 5px;
  }

  h1 {
    padding: 11px;
    font-size: 24px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  p {
    font-size: 150%;
  }

  .last-temperature {
    height: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 4em;
  }

  .deg-symbol
   {
    font-size: 30px;
  }