.row {
    margin: 2.5%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.no-devices {
    height: 100vh;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-devices h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: white;
    margin: 0 15px;
}